.ContainerCardItem{
    position: relative;
    perspective: 1000px;
    width: 230px;
    height: 330px;
    margin: 20px;
    z-index: 5;
}

.CardBox{
    transform-style: preserve-3d;
    font-family: trebuchet ms, verdana, arial, sans-serif;
    transition: all .4s ease;
    border-radius: 5px;

}
.CardBox:hover{
    transform: scale(10px);
}
.card{
    position: absolute;
    width: 230px;
    height: 330px;
    border-radius: 5px;
    backface-visibility: hidden;
    background: aqua;
  
  
}

.card:last-child {
    transform: rotateY(180deg);
}

.CardItemBtn{
    background:none;
    border:none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.CardItemBtn-Front{
    margin-left: auto;
}

.CardItemBtn-Back{

}