.ContainerCardItem{
    position: relative;
    perspective: 1000px;
    width: 330px;
    height: 330px;
    margin: 20px;
    z-index: 5;
}

.CardBox{
    transform-style: preserve-3d;
    font-family: trebuchet ms, verdana, arial, sans-serif;
    transition: all .4s ease;
    border-radius: 5px;

}
.CardBox:hover{
    transform: scale(10px);
}
.card{
    position: absolute;
    width: 330px;
    height: 330px;
    border-radius: 5px;
    backface-visibility: hidden;
    background: #00ffff;
    box-shadow:0px 0px 5px 0px cyan, 0px 0px 40px 0px #00a2ff;
}

.card:last-child {
    transform: rotateY(180deg);
}

.CardItemBtn{
    background:none;
    border:none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}


.CardItemContent-front{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.CardItemContent-front img{
    width:  100%;
}


.CardItemContent-back{
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.CardItemContent-back_btn a{
    background: none;
    border:none;
    cursor: pointer;
    transition: all .2s ease;
    margin: 7px;
}


.CardItemContent-back_btn a:hover{
    color:rgb(0, 119, 139)
}